<!-- inherit from base.html-->
{% extends "helpdesk_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Help Desk Tickets</h1>
<h2>List of Tickets</h2>

    {% if all_tickets %}
        <ul class='list-group'>
            {% for ticket in all_tickets %}
            <div class="container p-4 my-1 bg-primary text-white">
                <ul class='list-group_item'>Name: {{ ticket.requester_name }}
                    <p><strong>Subject: {{ ticket.subject }}</strong></p>
                    <p><strong>Completed: {{ ticket.is_done }}</strong></p>
                    <button onclick="document.location='{{ ticket.get_absolute_url }}'">View</button>
                </ul>
            </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no registered tickets.</p>
    {% endif %}

{% endblock %}
