<!-- inherit from base.html-->
{% extends "helpdesk_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}

    
    <h1>Ticket Management</h1>
    <button onclick="document.location='{% url 'ticket-create' %}'">Create New Ticket</button>
         
    {% if all_tickets %}

        <ul class='list-group'>
            {% for ticket in all_tickets %}
            <div class="container p-4 my-1 bg-primary text-white">
                <ul class='list-group_item'><p>Name: {{ ticket.requester_name }}</p>
                    <p><strong>Ticket Done: </strong> {{ ticket.is_done }}</p>
                    <p><strong>Contact Email:</strong> {{ ticket.contact_email }}</p>
                    <p><strong>Subject:</strong> {{ ticket.subject }}</p>
                    <p><strong>Description:</strong> {{ ticket.description }}</p>
                    <p><strong>Assignee:</strong> {{ ticket.assignee }}</p>
                    <p><strong>Priority:</strong> {{ ticket.priority }}</p>
                    <p><strong>Subject: </strong>{{ ticket.subject }}</p>
                    <p><strong>Done: {{ ticket.is_done }}</strong></p>
                    <button onclick="document.location='{{ ticket.get_absolute_url }}'">View</button>
                </ul>
            </div>
            
            {% endfor %}
        </ul>

    {% else %}
        <p>There are no registered tickets.</p>
    {% endif %}
    
{% endblock %}